@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 100%;
    display: flex;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-logo {
    height: 151px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.nav-header {
    display: flex;
    justify-content: center;
}

.nav-list {
    min-height: 29px;
    margin-top: 79px;
    display: flex;
    align-items: center;
}

.nav-list__link {
    font-size: 18px;
    line-height: 21px;
    padding: 0 15px;
    color: #8C8A8A;
}

.section-image {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.image-company {
    width: 100%;
}

.section-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    max-width: 730px;
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 50px 95px 0 40px;
    background: #F0F0F0;
}

.sidebar {
    max-width: 350px;
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 50px 24px 0 40px;
    background: #F0F0F0;
}

.address {
    font-style: normal;
}

.main__header,
.address__header {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    padding-bottom: 25px;
    color: #4581B7;
}

.main__text,
.address__text {
    font-size: 16px;
    line-height: 27px;
    color: #808080;
}

.main__text {
    max-width: 635px;
    width: 100%;
}

.address__text {
    max-width: 350px;
    width: 100%;
}

.address__tel__link,
.address__mail__link {
    color: #808080;
}

.address__tel {
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer {
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F0F0F0;
}

.footer-logo {
    height: 120px;
    padding-left: 40px;
    display: flex;
}

.footer-tel {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.footer-tel__header {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
    color: #808080;
}

.footer-tel__tel {
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #808080;;
}







