@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 100%;
    display: flex;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.nav-header {
    display: flex;
    justify-content: center;
}

.nav-list {
    max-width: 811px;
    width: 100%;
    min-height: 29px;
    margin-top: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list__item {
    padding: 0 15px;
}

.section-image {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.main {
    width: 730px;
    /* width: 100%; */
    min-height: 500px;
    height: auto;
    background: #F0F0F0;
}

.address {
    max-width: 350px;
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #F0F0F0;
}

.main__header,
.address__header {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    font-style: normal;
    padding: 50px 0 25px 40px;
    color: #4581B7;
}

.main__text,
.address__text {
    font-size: 16px;
    line-height: 27px;
    padding-left: 40px;
    font-style: normal;
    color: #808080;
}

.main__text {
    max-width: 635px;
    width: 100%;
}

.address__text {
    max-width: 350px;
    width: 100%;
}








